<!DOCTYPE html>
<html>
<head>
  <title>KILOS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<nav>
	<img src="<%= asset_path( 'Menu_Logo.png' ) %>" id="menu_logo">
	<div class="user_status">
	<% if current_user %>
		<ul>
			<li><%= current_user.email%></li>
			<li><%= link_to "Log out", logout_path, method: "delete" %></li>
		</ul>
	<% else %>	
		<ul>
			<li><%= link_to "Login", new_session_path %></li>
			<li><%= link_to "Signup", new_user_path %></li>
		</ul>
	<% end %>
	</div>		

</nav>

<div class="wrap">
	<%= yield %>
</div>

</body>
</html>
